/**{
  margin: 0;
  padding :0;
}*/
body{
 background-image: url("../image/concrete_seamless.png");
  height: 100%;
  margin:0;
}

.navbar-header{
  background-color: #4aaaa5;
  text-align: center; 
}

#nav-header{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
}

#header{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

hr{
  height: 5px;
  border-style: solid;;
}

.col{
  background-color: #ffffff;
}

.connect{
  widows: 270px;
  background-color:#ffffff;
  height: 200px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    height: 60px;
    color: gray;

}

.section{
  margin-bottom: 150px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}


