*{
	margin: 0;
	padding :0;
}
body{
	/*background-color:#4aaaa5;*/
	background-image: url("../image/concrete_seamless.png");
	height: 100%;
	margin:0;
}

.navbar{
	background-color: white;
	margin:0px;
	margin-bottom: 20px;
 
}

.navbar-header{
	background-color: #4aaaa5;
	text-align: center; 

}

.container{
	width: 960px;

}

.aboutme{
	color: #4aaaa5;
}
.header{
	color: #4aaaa5;
	text-align: center;
}




				
.p1{
	padding:0px;
	margin-bottom: 40px;
}



.blank{
	height: 340px;
}

.col1{
	background-color: white;
	
}

.col-blank {
    background-color: white;
    height: 70px;
}

.col2{
	background-color: white;
}

.col3{
	background-color: white;

}

.col4{
	height: 200px;
	background-color: white;
}

.footer{
	width: 100%;
    padding: 30px 0;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    /* height: 50px; */
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
}

.ul{
	list-style-type: none;
}

.contact-row{
	background-color: white;
	height: 300px;
}

#contact-form li {
  margin-bottom: 10px;
	
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

